<h3><i class="fas fa-book-reader"></i>BeachWood</h3>
<div class="section">
    <p class="lead">Store, add, and access employee data in an intuitive and easy to navigate space </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>